<div class="row">
    <div class="col-md-2">
        Ваша корзина пуста!
    </div>
    <div class="col-md-offset-3 col-md-1">
        <a href="@ViewBag.ReturnUrl"
           class="btn btn-primary">Вернуться к покупкам</a>
    </div>
</div>